.container{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #f8f8f8;
}
/* HEADERI */
header{
    margin-bottom: 70px;
    padding: 40px 160px 40px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    max-width: inherit;
    width: inherit;
    border-radius: 0 0 20% 20%;
    background-color: #ffffff;
}
.icons{
    width: 150px;
    display: flex;
    justify-content: space-around;
}
.section1{
    margin: 0 auto;
    width: 90%;
    height: 716px;
    /* position: relative; */
}
.photo1{
    width: 100%;
    height: 100%;
    /* position: relative; */
}
.p1{
    font-size: 24px;
    position: absolute;
    transform: translate(125%,-400%);
    width: 350px;
    height: 90px;
    color: #fdf50e;
}
/* დასრულდა სექცია 1 */
.section2{
    width: 90%;
}
h2{
    font-size: 28px;
    margin-bottom: 70px;
    margin-top: 155px;
}
.cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.card{
    background-color: #ffffff;
    padding: 30px 30px 35px 30px;
    width: 277px;
    height: 467px;
}
.box{
    margin-top: 111px;
    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
}
.cart{
    display: flex;
    justify-content: space-between;
}
.lgrey{
    background-color: #e7e7e7;
    display: inline-block;
    width: 105px;
    height: 35px;
    text-align: center;
    
}
.grey{
    background-color: #e7e7e7;
    display: inline-block;
    width: 105px;
    height: 35px;
    text-align: center;
}
.red{
    color: red;
    display: inline-block;
    font-size: 24px;
}
.green{
    color: #74b42c;
    display: inline-block;
}
p{
    font-size: 24px;
}
footer{
    margin-top: 175px;
    width: 90%;

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p2{
    font-size: 14px;
    color: #111111;
    display: block;
}